<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.modules.records.mapper.UserAccessRecordsMapper">
  <resultMap id="BaseResultMap" type="com.example.mall.modules.records.entity.UserAccessRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.mall.modules.records.entity.UserAccessRecords">
    <result column="ext" jdbcType="LONGVARCHAR" property="ext" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, uri, params, create_time
  </sql>
  <sql id="Blob_Column_List">
    ext
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_access_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_access_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.mall.modules.records.entity.UserAccessRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_access_records (user_id, uri, params, 
      create_time, ext)
    values (#{userId,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{ext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.mall.modules.records.entity.UserAccessRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_access_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ext != null">
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.mall.modules.records.entity.UserAccessRecords">
    update user_access_records
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.mall.modules.records.entity.UserAccessRecords">
    update user_access_records
    set user_id = #{userId,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ext = #{ext,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.mall.modules.records.entity.UserAccessRecords">
    update user_access_records
    set user_id = #{userId,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>